<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<form>
    <input
    type="text"
    placeholder="Numero di telefono, nome utente o e-mail"
    required
  />
  <br />
  <input type="password" placeholder="Password" required />
  <br />
  <input type="text" placeholder="Indirizzo di spedizione" required />
  <br />
  <input type="text" placeholder="Metodo di pagamento preferito" required />
  <br>
  <button class="payment-button">Paga</button>
  </form>
  <h2>ciao</h2>
</body>
</html>