<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <div class="header">
            <h1>Bamboo</h1>
          </div>

          <div class="container-navigation">
            <a href="#">Filtri</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
          </div>

    <div class="container-image">
    <!--in questo div troviamo l'immagine -->
      <img
        src="/come-capire-se-la-frutta-è-buona-e-la-verdura-fresca-e1573202570745.jpg"
        alt=""
      />

      <div class="container-text">
        <!-- contiene -->
        <h1>Bamboo</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
          harum laudantium adipisci ad, officiis quos quasi doloribus enim,
          illum at tempora voluptates fugit ipsa, voluptatem repellat
          praesentium esse qui quibusdam.
        </p>
      </div>
    </div>