/*/////////////////NAVBAR///////////////////////////////////////////////*/

.navbar {
    height: 4em;
    background-color: #5f4822; /* Colore di sfondo della navbar */
    position: relative;
}

.navbar-toggler {
    border: none; /* Rimuove il bordo predefinito del pulsante */
    background-color: transparent; /* Rende il pulsante trasparente */
    padding: 0;
}

.navbar-toggler .bi {
    color: #e5dbab; /* Colore dell'icona */
}

.navbar-brand {
    height: 55px; /* Altezza del logo */
    width: auto;  /* Mantiene le proporzioni corrette */
}

.navbar-nav {
    margin-left: 7px;
}

.nav-item + .nav-item {
    margin-left: 0px; /* Riduci la distanza */
    padding: 0;
}

.logo-navbar {
    max-height: 100%; /* Imposta l'altezza massima del logo */
    width: auto;  /* Mantiene le proporzioni corrette */
}

.nav-link {
    color: #e5dbab; /* Colore delle scritte */
    padding: 0;
    font-size: 0.95rem; /* Dimensione font */
}

.nav-item.separator {
    display: flex;
    align-items: center;
    padding: 0; /* Aggiungi spazio attorno alla barra */
    color: #e5dbab;
}

@media (min-width: 992px) {
    .navbar .custom-search-container {
        flex-grow: 1;
        display: flex;
        justify-content: center; /* Centra il contenitore */
    }
    .navbar .custom-search-form {
        width: 300px; /* Imposta la larghezza della barra di ricerca */
        display: flex;
        position: relative;
    }
    .navbar .form-control {
        flex-grow: 1;
        padding-right: 60px; /* Aumenta in base alla larghezza di "ctrl K" */
    }
    .navbar .input-group-text {
        position: absolute;
        right: 10px; /* Regola questa distanza in base alla larghezza della barra di ricerca */
        top: 50%;
        transform: translateY(-50%);
        background: transparent; /* Assicura che lo sfondo sia trasparente */
        border: none; /* Rimuovi i bordi */
        color: #6c757d; /* Colore del testo */
        padding: 0 5px; /* Aggiungi un po' di padding per margine */
    }
}

.custom-search-container {
    display: flex;
    justify-content: center; /* Centra il contenitore */
    width: 100%; /* Occupa tutta la larghezza disponibile */
    max-width: 300px; /* Larghezza massima della barra di ricerca */
    position: relative;
}

.custom-search-form {
    display: flex;
    align-items: center;
    position: relative; /* Necessario per il posizionamento assoluto */
    width: 100%;
}

.custom-search-form .form-control {
    flex-grow: 1;
    padding-right: 60px; /* Aumenta in base alla larghezza di "ctrl K" */
}

.custom-search-form .input-group-text {
    position: absolute;
    right: 10px; /* Regola questa distanza in base alla larghezza della barra di ricerca */
    top: 50%;
    transform: translateY(-50%);
    background: transparent; /* Assicura che lo sfondo sia trasparente */
    border: none; /* Rimuovi i bordi */
    color: #6c757d; /* Colore del testo */
    padding: 0 5px; /* Aggiungi un po' di padding per margine */
}



/* Contenitore del form di ricerca 
.custom-search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;  Centra il contenitore 
    position: relative;
}

 Campo di input di ricerca 
.custom-search-form {
    display: flex;
    align-items: center;
    position: relative;  Necessario per il posizionamento assoluto 
    width: 300px;  Imposta la larghezza desiderata 
    margin: 0 auto;  Centra la barra di ricerca orizzontalmente 
}



 Span "ctrl K" 
.custom-search-form .input-group-text {
    position: absolute;
    right: 10px; /* Regola questa distanza in base alla larghezza della barra di ricerca 
    top: 50%;
    transform: translateY(-50%);
    background: transparent; /* Assicura che lo sfondo sia trasparente 
    border: none; /* Rimuovi i bordi 
    color: #6c757d; /* Colore del testo 
    padding: 0 5px; /* Aggiungi un po' di padding per margine 
} */

.nav-link .bi {
    font-size: 1.2em;
    color: #e5dbab;
    border: solid #e5dbab 2px;
    border-radius: 50%; /* Questo renderà l'icona un cerchio perfetto */
    width: 1.3em; /* Imposta la larghezza dell'icona */
    height: 1.3em; /* Imposta l'altezza dell'icona */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.4em; /* Mantiene la dimensione minima */
    min-height: 1.4em; /* Mantiene la dimensione minima */
}
